.element-animation-leftt {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation: fadeInLeft ease-in-out 1.7s;
    animation: fadeInLeft ease-in-out 1.7s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .element-animation-rightt {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation: fadeInRight ease-in-out 1.7s;
    animation: fadeInRight ease-in-out 1.7s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .element-animation-button {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation: fadeInButton ease-in-out 1.5s;
    animation: fadeInButton ease-in-out 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
  }
  
  @-webkit-keyframes fadeInButton {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInButton {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .element-animation-right_visible {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation: fadeInRightVisible ease-in-out 1.5s;
    animation: fadeInRightVisible ease-in-out 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
  }
  
  @-webkit-keyframes fadeInRightVisible {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInRightVisible {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .element-animation-top {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation: fadeInTop ease-in-out 1.5s;
    animation: fadeInTop ease-in-out 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
  }
  
  @-webkit-keyframes fadeInTop {
    0% {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInTop {
    0% {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .element-animation-bottom {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation: fadeInBot ease-in-out 1.5s;
    animation: fadeInBot ease-in-out 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
  }
  
  @-webkit-keyframes fadeInBot {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInBot {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  